body {
    height: 5000px;
    font-family: 'Open Sans', sans-serif;

}

/*navbar styling*/

.scrolled {
    background-color: rgba(0, 0, 0, .5);
}

/*start header */

.header {
    background: url("../img/AXIT1.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #ffffff;
}

.centering-vh {
    margin-top: 25vh;
}

.header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, .52);
}

.header h1 {
    font-weight: bold;
    font-size: 60px;
}

.header h1 span {
    color: #ff8b38;
}

.header h1 ~ .lead {
    font-size: 30px;
}

.header h1 ~ .lead:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 25px 0px;
}

.header button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #ffffff;
}

.header form {
    width: 360px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.header form h2 {
    background-color: #f5f5f5;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.header form h2 span {
    color: #F6964E;
}

.header form .form-control {
    margin: 0 auto 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    width: 80%;

}

.header form .btn-block {
    background-color: #F6964E;
    color: #ffffff;
}

/*start social*/
.social-section {
    padding: 10px;
    -webkit-box-shadow: -2px -5px 13px #000;
    -moz-box-shadow: -2px -5px 13px #000;
    box-shadow: -2px -5px 13px #000;
}

.social-section h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.social-section p {
    color: #a1a1a1;
}

.social-section i {
    color: #cccccc;
    margin: 20px 15px;
}

/*endsocial*/

/*start tabs section*/
.tabs-section {
    padding: 80px 0;
    background-color: #f5f5f5;
}

.tabs-section .tab-switch li {
    /*padding: 10px;*/
    background-color: #333333;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 110px;
    width: 110px;
    line-height: 110px;
    text-transform: uppercase;
    cursor: pointer;
}

.tabs-section .tab-switch li.selected,
.tabs-section .tab-switch li:hover {
    background-color: #ff8b38;
}

.tabs-section .tabs-content div:not(.tab-one) {
    display: none;
}

.tabs-section .tabs-content h3 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

.tabs-section .tabs-content .lead {
    line-height: 1.6;
    font-size: 18px;
    color: #7e7e7e;
}

.tabs-section .tabs-content button {
    background-color: #ff8b38;
    color: #ffffff;
}

/*end tabs section*/

/*start sublist section*/
.sublist {
    padding: 80px;
}

.sublist .sub-img {
    margin-top: 50px;
}

.sublist .sublist-head {
    font-weight: bold;
}

.sublist .sublist-desc {
    color: #777777;
    line-height: 1.6;
    margin-bottom: 30px;
}

.sublist .list-icon {
    margin-bottom: 30px;
    overflow: hidden;
}

.sublist .list-icon i {
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

.sublist .list-icon .text-info {
    width: calc(100% - 70px);
}

/*end sublist section*/

/*start standard picture*/
.standard_picture {
    padding: 80px;
    background-color: #f5f5f5;
}

.standard_picture .standard-img {
}

.standard_picture .standard-head {
    font-weight: bold;
    margin-top: 50px;
}

.standard_picture .standard-desc {
    color: #777777;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*end standard piecture*/

/*start awesome section*/
.awesome {
    padding: 80px 0;
}

.awesome .awesome-head {
    font-weight: bold;
    font-size: 50px;
}

.awesome .awesome-desc {
    margin-bottom: 50px;
}

.awesome i {
    color: #ff8b38;
    width: 70px;
    height: 70px;
    line-height: 68px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
}

.awesome .feat-head {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.awesome .feat-info {
    color: #777777;

}

/*end awesome section*/

/*start pricing options*/
.price-options {
    padding: 80px 0;
    background-color: #f5f5f5;
}

.price-options .price-head {
    font-weight: bold;
    font-size: 40px;
}

.price-options .price-desc {
    margin-bottom: 50px;
    color: #a9aaac;
}

.price-options .price-box {
    background-color: #ffffff;
}

.price-options .price-box .plan-head {
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}

.price-options .price-box .option-price {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
}

.price-options .price-box .option-price .price {
    font-size: 70px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.price-options .price-box .option-price .usd {
    font-size: 30px;
}

.price-options .price-box .option-price .period {
    color: #adadad;
    font-weight: bold;
    font-style: italic;
}

.price-options .price-box .option-price {
    border-bottom: 5px solid #ff8b38;
}

.price-options .configurations li {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #8c8c8c;
}

.price-options .most-pop {
    background-color: #ff8b38;
    color: #ffffff;
    padding: 5px 10px 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.price-options .enterprise,
.price-options .basic {
    margin-top: 35px;

}

/*start testimonials*/
.testimonials {
    padding: 80px 0px;
}

.testimonials .client-say {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #8e8e8e;
    padding: 20px;
    position: relative;
}

.testimonials .client-say:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #f5f5f5 transparent transparent;
    position: absolute;
    bottom: -28px;
    left: 15px;
}

.testimonials .media-heading {
    font-weight: bold;
    margin-top: 20px;
}

.testimonials .media-body p {
    color: #a9aaac;
}

/*end testimonials*/

/*start stylish*/
.stylish {
    height: 320px;
    background: url("../img/stylish-section.png");
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.stylish .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, .52);
    padding: 60px 0;
}

.stylish .overlay .head-border-center:after{
    background-color: #ffffff;
}

.stylish .stylish-desc{
    color: #a9aaac;
}
.stylish .stylish-btn{
    margin: 30px auto;
    display: block;
    padding: 8px 20px;
    border: 2px solid #ffffff;
    background: transparent;
}

/*end styliash*/
/*start framwork*/

.uppercase {
    text-transform: uppercase;
}

.head-border:after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 25px 0;
}

.head-border-center:after {
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 25px auto;
}